/* ==UserStyle==
@name         Wykop XS ❎
@version      2.45.0
@description  Dodatek pozwalający włączać, wyłączać i konfigurować funkcje skryptu Wykop XS

@description  https://styl.wykopx.pl
@description  https://greasyfork.org/en/scripts/458860-wykop-xs

---- AUTOR WYKOP X ----

@author         Wykop X <wykopx@gmail.com> | wiki.wykopx.pl
@homepageURL    http://changelog.wykopx.pl
@supportURL     http://changelog.wykopx.pl

---- AUTOR WYKOP X ----

@preprocessor   stylus
@namespace      userstyles.world/user/wykopchanger
@license        No License


@var range      HR_NEW_QUICK_LINKS                      `QUICK LINKS ⭐ Nowe v.2.45`                                                                  [0, 0, 99900, 1, 'mm']
@var checkbox   quickLinksEnable                               `💻❎ Szybkie linki do przycisków w górnej belce ⭐`                                  1


@var range      HR_NEW_TAB                              `💠 KARTA Z WYKOPEM ⭐ Nowe v.2.41`                                                              [0, 0, 99900, 1, 'mm']
@var checkbox   tabChangeOnlyOnHiddenState                      `❎ Modyfikuj kartę Wykopu tylko gdy jest w tle ⭐`                                   1

@var range      HR_NEW_TAB_FAVICON                      `💠 KARTA Z WYKOPEM: FAVICON ⭐ Nowe v.2.41`                                                              [0, 0, 99900, 1, 'mm']
@var checkbox   tabFaviconEnabled                              `❎ Włącz zmianę ikonki karty z Wykopem (favicon) ⭐`                                   1
@var select     tabFaviconSelect                               `❎ Favicon ⭐` {
                                                                                "Wykop (domyślna)":"wykop",
                                                                                "Wykop (biala)*":"wykop_white",
                                                                                "Wykop (szara)":"wykop_gray",
                                                                                "Google":"google",
                                                                                "Interia":"interia",
                                                                                "Digg":"digg",
                                                                                "Onet":"onet",
                                                                                "Reddit":"reddit",
                                                                                "Wirtualna Polska":"wp",
                                                                                "YouTube":"youtube",
                                                                                "𝕏 (Twitter)":"x",
                                                                            }
                                                                            
@var range      HR_NEW_TAB_TITLE                        `💠 KARTA Z WYKOPEM: TYTUŁ STRONY ⭐ Nowe v.2.41`                                                              [0, 0, 99900, 1, 'mm']
@var checkbox   tabTitleEnabled                                `❎ Włącz zmianę Tytułu karty z Wykopem ⭐`                                         0
@var checkbox   tabTitleRemoveWykopPL                          `❎ Usuń z tytułu karty tekst :: 𝗪𝘆𝗸𝗼𝗽.𝗽𝗹 ⭐`                                       0
@var select     tabTitleSelect                                 `❎ Tytuł kart z Wykopem ⭐` {
                                                                                "[-- Oryginalny tytuł strony --]":"domyslny",
                                                                                "[-- Pusty tytuł --]":"pusty_tytul",
                                                                                "[-- Adres URL strony --]":"adres_url",
                                                                                "[-- Własny tytuł kart (wpisz poniżej) --]":"wlasny",
                                                                                "Wykop":"wykop",
                                                                                "Wykop X":"wykopx",
                                                                                "Google":"google",
                                                                                "Interia - Polska i świat: informacje, sport, gwiazdy.":"interia",
                                                                                "News and Trending Stories Around the Internet | Digg":"digg",
                                                                                "Onet – Jesteś na bieżąco":"onet",
                                                                                "Reddit - Dive into anything":"reddit",
                                                                                "Wirtualna Polska - Wszystko co ważne":"wp",
                                                                                "YouTube":"youtube",
                                                                                "Home / X":"x",
                                                                            }
@var text       tabTitleCustom                                  `❎ Własny tytuł kart ⭐`                                         `Wykop X`

@var range      HR_NEW_TAB_NOTIFICATIONS                        `💠 KARTA Z WYKOPEM: (LICZBA POWIADOMIEŃ) ⭐ Nowe v.2.41`                         [0, 0, 99900, 1, 'mm']

@var checkbox   tabTitleShowNotificationsEnabled                `❎💻 Włącz liczbę powiadomień w tytule karty ⭐`                         1
@var checkbox   tabTitleShowNotificationsCountSeparated         `❎💻 Osobne liczby zamiast sumy powiadomień: ✉/🕭/# ⭐`                 1
@var checkbox   tabTitleShowNotificationsCountPM                `❎💻 ✉ Liczba nowych wiadomości prywatnych ⭐`                          1
@var checkbox   tabTitleShowNotificationsCountEntries           `❎💻 🕭 Liczba powiadomień z wołaniami ⭐`                               1
@var checkbox   tabTitleShowNotificationsCountTagsNewLink       `❎💻 # Liczba nowych znalezisk z obserwowanych #tagów ⭐`                0
@var checkbox   tabTitleShowNotificationsCountTagsNewEntry      `❎💻 # Liczba nowych wpisów z obserwowanych #tagów ⭐`                   0


@var range      HR_NEW_241                          `ANTI-EMBARRASSMENT MODE ⭐ Nowe v.2.41`                                                                  [0, 0, 99900, 1, 'mm']
@var checkbox   myWykopInTopNavJSObserwowane                    `💻❎ Zmień nazwę 𝗠𝗼𝗷 𝘄𝘆𝗸𝗼𝗽 na 𝗢𝗯𝘀𝗲𝗿𝘄𝗼𝘄𝗮𝗻𝗲 ⭐`                                                    0

@var range      HR_RIGHT_SIDEBAR                    `SIDEBAR PO PRAWEJ ⭐ Nowe v.2.36`                                                                                                                                                                                                  [0, 0, 99900, 1, 'mm']

@var checkbox   showObservedTagsInRightSidebar                  `💻❎ Pokazuj  # 𝗧𝘄𝗼𝗷𝗲 𝗼𝗯𝘀𝗲𝗿𝘄𝗼𝘄𝗮𝗻𝗲 𝘁𝗮𝗴𝗶`                                                                      1
@var checkbox   showObservedTagsAlphabetically                  `💻❎ # 𝗧𝘄𝗼𝗷𝗲 𝗼𝗯𝘀𝗲𝗿𝘄𝗼𝘄𝗮𝗻𝗲 𝘁𝗮𝗴𝗶 - sortuj alfabetycznie`                                                                                  0
@var range      showObservedTagsInRightSidebarUpdateInterval    `💻❎ # 𝗧𝘄𝗼𝗷𝗲 𝗼𝗯𝘀𝗲𝗿𝘄𝗼𝘄𝗮𝗻𝗲 𝘁𝗮𝗴𝗶 - odświeżaj listę co X h`       [12, 0.5, 24, 0.5, '']

@var range      HR_LOGO                             `𝕎   𝗕𝗘𝗟𝗞𝗔: LOGO WYKOPU`                                                                                          [0, 0, 99900, 1, 'mm']

@var checkbox   refreshOrRedirectOnHomeButtonClick              `💻❎🐁 Kliknięcie w logo wykopu odświeża stronę`                                0

@var range      HR_TOPNAV_LEFT_BUTTONS              `𝗕𝗘𝗟𝗞𝗔: PRZYCISKI PO LEWEJ`                                                                                                  [0, 0, 99900, 1, 'mm']


@var checkbox   addNewLinkInTopNavJS                            `💻❎ Pokaż przycisk + (Dodaj Znalezisko)`                                                                  1
@var checkbox   addNewEntryInTopNavJS                           `💻❎ Pokaż przycisk + (Dodaj wpis na Mirko)`                                                               1
@var checkbox   refreshOrRedirectOnMicroblogButtonClick         `💻❎🐁 Kliknięcie w Mikroblog odświeża stronę`                                                             0
@var checkbox   favoritesInTopNavJS                             `💻❎ Pokaż przycisk 𝗨𝗹𝘂𝗯𝗶𝗼𝗻𝗲`                                                                              1
@var checkbox   hitsInTopNavJS                                  `💻❎ Pokaż przycisk 𝗛𝗶𝘁𝘆 `                                                                                 1
@var checkbox   myWykopInTopNavJS                               `💻❎ Pokaż przycisk 𝗠𝗼𝗷 𝘄𝘆𝗸𝗼𝗽`                                                                             1
@var checkbox   myWykopInTopNavJSObserwowane                    `💻❎ Zmień nazwę 𝗠𝗼𝗷 𝘄𝘆𝗸𝗼𝗽 na 𝗢𝗯𝘀𝗲𝗿𝘄𝗼𝘄𝗮𝗻𝗲`                                                                0


@var range      HR_TOPNAV_RIGHT_BUTTONS             `𝗕𝗘𝗟𝗞𝗔: PRZYCISKI PO PRAWEJ I WYSZUKIWARKA`                                                                                                  [0, 0, 99900, 1, 'mm']
@var checkbox   myWykopMobileInTopNav                           `❎ Pokaż przycisk "𝗠𝗪" (Mój Wykop)`                                  1
@var checkbox   microblogMobileInTopNav                         `❎ Pokaż przycisk "𝗠" (Mikroblog) `                                   1
@var checkbox   showNightModeSwitchOnTopNav                     `❎ Pokaż przycisk "🌙" (Tryb nocny/dzienny)`                          1



@var range      HR_TOPNAV_NOTIFIACTIONS             `✴️ 𝗕𝗘𝗟𝗞𝗔: IKONKI POWIADOMIEŃ`                                                                                                 [0, 0, 99900, 1, 'mm']
@var checkbox   notificationsShowUnreadNumber                   `❎💻 Pokaż liczbę powiadomień zamiast kropki`                          1
@var checkbox   showNotificationSummary                         `❎📱 Pokaż ikonki @ ✉ #  powiadomień (na smartfonie)`                     1


@var range      HR_NOTIFICATIONS_GENERAL            `✴️ POWIADOMIENIA`                                                                                  [0, 0, 99900, 1, 'mm']
@var checkbox   middleClickOpensNotificationsInNewTab           `💻❎🐁 Środkowy przycisk myszy otwiera powiadomienie w nowej karcie`         0
@var checkbox   notificationOpenStraightToComment               `💻❎🐁 Przenieś do komentarza po kliknięciu w powiadomienie o wołaniu`       0

@var range      HR_LINKS_ANALYZER                   `🔶📊 STATYSTYKI ZNALEZISK ⭐ Nowe v.2.33`                                                    [0, 0, 99900, 1, 'mm']
@var checkbox   linksAnalyzerEnable                             `🔸❎ Włącz analizowanie znalezisk (opcje poniżej)`               1
@var checkbox   linksAnalyzerVotesDownCount                     `🔸❎ Wyświetl liczbę ZAKOPÓW`                                    1
@var checkbox   linksAnalyzerVotesDownPercent                   `🔸❎ Wyświetl procent liczby zakopów`                            1
@var checkbox   linksAnalyzerVotesMeter                         `🔸❎ Wykres słupkowy proporcji wykopów do zakopów`               1
@var checkbox   linksAnalyzerSortByVotesCount                   `🔶❎ Znaleziska sortowane wg liczby wykopów`                     0


@var range      HR_MIRKO_NA_GLOWNEJ                     `📌 WPISY Z MIRKO PRZYPIĘTE PRZEZ MODERACJĘ NA GŁÓWNEJ 🔶`                            [0, 0, 99900, 1, 'mm']
@var range      homepagePinnedEntriesHideBelowLimit             `🔹❎ Ukrywaj przypięte wpisy, które mają mniej niż X plusów`                         [10, 0, 1000, 5, '']

@var range      HR_MIKRO                            `🔷 MIKROBLOG`                                                                                          [0, 0, 99900, 1, 'mm']
@var checkbox   microActionsInline                              `💻❎🐁 "Aktywne/Gorące/Najnowsze" jako przyciski zamiast rozwijanego menu`        1

@var range      HR_MIKRO_TAGPAGE                    `🔷 STRONY #TAGÓW`                                                                                    [0, 0, 99900, 1, 'mm']
@var checkbox   tagHeaderEditable                               `❎ Pole edycji #tagu, aby przejść na inny #tag lub wyszukać @użytkownika`            1


@var range      HR_COMMENTS                         `🗨️ WPISY I KOMENTARZE`                                                                                   [0, 0, 99900, 1, 'mm']
@var checkbox   autoOpenMoreContentEverywhere                   `❎ 𝗣𝗢𝗞𝗔𝗭̇ 𝗖𝗔𝗟𝗢𝗦́𝗖́ - Automatycznie pokazuj całą treść długich wpisów/komentarzy`         0
@var checkbox   autoOpenSpoilersEverywhere                      `❎ 𝗣𝗢𝗞𝗔𝗭̇ 𝗦𝗣𝗢𝗜𝗟𝗘𝗥 - Automatycznie pokazuj spoilery`                                    0


@var range      HR_IMAGES                           `🌆 OBRAZKI WE WPISACH I KOMENTARZACH`                                                                     [0, 0, 99900, 1, 'mm']
@var select     mouseClickOpensImageInNewTab                    `💻❎🐁 Otwórz obrazek w nowej karcie kliknięciem` {
                                                                    "Nie otwieraj w nowej karcie (domyślnie)":"nie_otwieraj",
                                                                    "𝗟𝗣𝗣 - Lewym prz. myszy":"lewy_przycisk_myszy",
                                                                    "ŚPM - Środkowym prz. myszy*":"srodkowy_przycisk_myszy",
                                                                    "𝗣𝗣𝗠 - Prawym prz. myszy":"prawy_przycisk_myszy"
                                                                } 
@var range      HR_IMAGES_IN_COMMENTS               `🌆 PRZYCISK "POBIERZ OBRAZ"`                                                                      [0, 0, 99900, 1, 'mm']
@var checkbox   allowToDownloadImage                            `❎ Dodatkowy przycisk "Pobierz obrazek"`                                                      0

                                                                
                                                                
@var range      HR_PLUSYIMINUSY                     `➕ PLUSY I MINUSY ➖`                                                                                 [0, 0, 99900, 1, 'mm']
@var checkbox   votingExplosion                                 `❎  Eksplozja plusów i minusów`                                                                        1
@var select     votingExplosionAnimation                        `❎  Eksplozja - animacja` {
                                                                            "Animacja 1":"animacja1",
                                                                            "Animacja 2":"animacja2",
                                                                            "Animacja 3":"animacja3"
                                                                            } 
                                                                
@var range      HR_EDITOR                       `✍️ EDYTOR WPISU I KOMENTARZA`                                                                          [0, 0, 99900, 1, 'mm']
@var checkbox   editorFocusOnDodajURL                           `❎ Aktywuj edytor nowego wpisu na stronie .../mikroblog/#dodaj`                            1
@var checkbox   replyEditorShowTagsFollowers                    `❎ Wyświetl liczbę obserwujących tagi podczas wpisywania #tagu`                            0


@var range      HR_EXTRA                            `🔷❎ KATEGORIE: PRZYCISKI 𝗠𝗜𝗥𝗞𝗢`                                                    [0, 0, 99900, 1, 'mm']
@var checkbox   categoryRedirectToMicroblogButton               `🔷❎ 𝗣𝗿𝘇𝘆𝗰𝗶𝘀𝗸𝗶 𝗠𝗜𝗥𝗞𝗢 - przenoszące na mikroblog wybranej kategorii`       1
@var select     categoryRedirectToMicroblogButtonFilter         `🔷❎ 𝗣𝗿𝘇𝘆𝗰𝗶𝘀𝗸 𝗠𝗜𝗥𝗞𝗢 otwiera` {
                                                                            "Najnowsze":"_mikroblog_najnowsze",
                                                                            "Ostatnio wybrane":"_mikroblog",
                                                                            "Aktywne":"_mikroblog_aktywne",
                                                                            "Gorące (2h)":"_mikroblog_gorace_2",
                                                                            "Gorące (6h)":"_mikroblog_gorace_6",
                                                                            "Gorące (12h)":"_mikroblog_gorace_12",
                                                                            "Gorące (24h)":"_mikroblog_gorace_24"
                                                                            } 
                                                      
                                                                
@var range      HR_MOBILENAV                        `📱 BELKA MOBILNA NA DOLE`                                                          [0, 0, 99900, 1, 'mm']
@var checkbox   myWykopMobileInMobileNavbar                     `📱❎ Pokaż przycisk 𝗠𝗪 (Mój Wykop)`                                   1
@var checkbox   messagesMobileInMobileNavbar                    `📱❎ Pokaż przycisk ✉ (Wiadomości) `                                   1
@var checkbox   profileInMobileNavbar                           `📱❎ Pokaż przycisk profilu 👤`                                         1

                                                            
@var range      HR_FIXWYKOPBUGS                    `✔ NAPRAW BŁĘDY WYKOPU`                                                                                   [0, 0, 99900, 1, 'mm']
@var checkbox   fixCaseSensitiveTagsRedirection                 `✔🔹❎ Przekierowania tagów zapisanych z wielkimi literami (np. #Heheszki albo #WYKOP) `    1

                                                                
@var range      HR_WYKOPXS                          `❎ WYKOP XS`                                                                                                                [0, 0, 99900, 1, 'mm']
@var checkbox   enableNotatkowator                              `❎ 𝗡𝗼𝘁𝗮𝘁𝗸𝗼𝘄𝗮𝘁𝗼𝗿 - wyswietlaj notatki przy użytkownikach`                                                 1
@var range      notatkowatorUpdateInterval                      `❎ 𝗡𝗼𝘁𝗮𝘁𝗸𝗼𝘄𝗮𝘁𝗼𝗿 - odśwież notatki starsze X h`       [48, 1, 120, 1, '']
@var checkbox   mirkoukrywacz                                   `❎ 𝗠𝗶𝗿𝗸𝗼𝘂𝗸𝗿𝘆𝘄𝗮𝗰𝘇  - przycisk do ukrywania wpisów i komentarzy`                                           0
@var checkbox   infiniteScrollEnabled                           `❎ 𝗜𝗻𝗳𝗶𝗻𝗶𝘁𝗲 𝗦𝗰𝗿𝗼𝗹𝗹 - wszystkie komentarze pod wpisem na jednej stronie`                                     0
@var checkbox   disableNewLinkEditorPastedTextLimit             `❎ Pokaż limity znaków + wklejanie tekstu o dowolnej długości`               1

               
@var range     HR_SETTINGS_USER             `KONFIGURACJA UŻYTKOWNIKA Wykop XS`                                                                 [0, 0, 99900, 1, 'mm']
@var select     myNicknameColor                                 `⚫ Twój kolor na wykopie` {
                                                                            "🔴 Bordo":"bordo",
                                                                            "🟠 Pomarańczowy*":"pomaranczowy",
                                                                            "🟢 Zielonka":"zielony",
                                                                            } 
@var select     device                                          `💻 📱 Urządzenie` {
                                                                            "💻 Komputer":"komputer",
                                                                            "💻 Tablet":"tablet",
                                                                            "📱 Smartfon":"smartfon"
                                                                            }                
                                                                
                                                                
                                                                
==/UserStyle== */


@-moz-document regexp(".*")
{    
    
}
@-moz-document url-prefix("moz-extension://"), url-prefix("chrome-extension://")
{
    #message-box > div
    {
        max-width: 100%!important;
        max-height: 100%!important;
        top: 0px!important;
    } 

    #message-box > div > #message-box-close-icon
    {
        position: absolute;
        right: 11px;
        top: 10px;
        transition: all 0.1s ease-in-out; 

    } 
    #message-box > div > #message-box-close-icon i
    {
        display: none;
    } 
    #message-box > div > #message-box-close-icon:before
    {
        width: 20px; height: 20px;
        content: "❌";
        font-size: 16px;
    } 
    #message-box > div > #message-box-close-icon:hover
    {
        scale: 1.4;
    } 
    .config-body .select-wrapper
    {
        max-width: 100%;
    }
    
    #message-box.config-dialog .config-body input[type="text"], 
    #message-box.config-dialog .config-body .select-resizer, 
    #message-box.config-dialog .config-body select,
    #message-box.config-dialog .config-body input[type="range"]
    {
        min-width: 210px;
    } 

    #message-box-contents div.config-heading a[href$="wykopx.pl"]
    {
        font-size: 0;
        text-decoration: none;
    } 
    #message-box-contents div.config-heading a[href$="wykopx.pl"]:before
    #message-box-contents div.config-heading a[href$="wykopx.pl"]:after
    {
        font-size: 13px;
    } 


    #message-box-contents div.config-heading a[href$="wykopx.pl"]:hover:after
    {
        text-decoration: underline;
    } 


    #message-box-contents div.config-heading 
    {
        text-align: center;

        a[href$="wykopx.pl"]
        {
        } 
        a[href$="wykopx.pl"]:before,
        a[href$="wykopx.pl"]:after
        {
                font-size: 16px
                display: block;
                cursor: default
                color: rgba(255, 255, 255, 0.6);
        } 
        a[href$="wykopx.pl"]:before,
        {
            margin-top: 30px!important
        } 
        a[href$="wykopx.pl"]:hover
        {
        } 
    } 

    [data-ui-theme="light"] #message-box-contents div.config-heading  a[href$="wykopx.pl"]:after,
    [data-ui-theme="light"] #message-box-contents div.config-heading  a[href$="wykopx.pl"]:before
    {
        color: rgba(0, 0, 0, 0.6);
    } 

    /* tylko komputer przy wąskim okienku Stylusa */
    @media (pointer: fine) and (max-width: 519px)
    {
        #message-box-contents div.config-heading a[href$="wykopx.pl"]:before
        {
            color: #df2c2c;
            content: "Wejdź w  Ustawienia Stylusa '⚙' i w sekcji '𝗢𝗸𝗻𝗼 𝗽𝗼𝗱𝗿𝗲𝗰𝘇𝗻𝗲' wpisz w polu '𝗦𝘇𝗲𝗿𝗼𝗸𝗼𝘀𝗰 𝗼𝗸𝗻𝗮 (𝘄 𝗽𝗶𝗸𝘀𝗲𝗹𝗮𝗰𝗵)' wartość między 𝟲𝟬𝟬 a 𝟴𝟬𝟬 pikseli. "!important;
        } 
    } 
    /* telefon lub komputer z rozszerzonym okienkiem Stylusa */
    @media (pointer: none), (min-width: 520px)
    {
        #message-box-contents div.config-heading a[href$="wykopx.pl"]:before
        {
            content: "Zaobserwuj tag #𝘄𝘆𝗸𝗼𝗽𝘄𝗻𝗼𝘄𝘆𝗺𝘀𝘁𝘆𝗹𝘂 na Wykopie. ❎ - do tych funkcji zainstaluj Wykop XS (więcej info na 𝘅𝘀.𝘄𝘆𝗸𝗼𝗽𝘅.𝗽𝗹).  ⭐ Informacje o najnowszych funkcjach 𝗪𝘆𝗸𝗼𝗽 𝗫 na stronie: ";
            text-decoration: none;
        } 
        #message-box-contents div.config-heading a[href$="wykopx.pl"]:after
        {
            content: "changelog.wykopx.pl"
        }
        #message-box-contents div.config-heading a[href$="wykopx.pl"]:hover:after
        {
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
        } 
        [data-ui-theme="light"] #message-box-contents div.config-heading a[href$="wykopx.pl"]:hover:after
        {
            color: rgba(0, 0, 0, 1);
        } 
    } 



    .config-body > label
    {
        padding: 7px 0px 7px 15px;
        font-size: 13px;
    } 

    [data-ui-theme="light"]  	.config-body > label{color: rgba(0, 0, 0, 1);} 
    [data-ui-theme="dark"] 		.config-body > label{color: rgba(255, 255, 255, 1);} 


    [data-ui-theme="light"] .config-body > label:has(.onoffswitch)                  {color: rgba(0, 0, 0, 0.5)} 
    [data-ui-theme="light"] .config-body > label:has(.onoffswitch input:checked)    {color: rgba(0, 0, 0, 1)} 
    [data-ui-theme="dark"] 	.config-body > label:has(.onoffswitch)                  {color: rgba(255, 255, 255, 0.5)} 
    [data-ui-theme="dark"] 	.config-body > label:has(.onoffswitch input:checked)    {color: rgba(255, 255, 255, 1)} 

    [data-ui-theme="light"] label.config-range:has(input[type="range"][max^="999"]),
    [data-ui-theme="light"] label.config-number:has(input[type="number"][max^="999.99"])
    {
        border-top: 1px solid rgba(128,128,128,1);
        background: #cfcfcf;
        background: linear-gradient(#ffffff, #dfdfdf);
        border: 1px solid #fff;
        box-shadow: inset 0 0 0 1px #c7c7c7;
    } 
    [data-ui-theme="dark"] label.config-range:has(input[type="range"][max^="999"]),
    [data-ui-theme="dark"] label.config-number:has(input[type="number"][max^="999.99"])
    {
        border-top: 1px solid rgba(128,128,128,1);
        background: #111;
        background: linear-gradient(#1b1b1b, #111);
        border: 1px solid #000;
        box-shadow: inset 0 0 0 1px #272727;
    } 
    label.config-range:has(input[type="range"][max^="999"]),
    label.config-number:has(input[type="number"][max^="999.99"])
    {
        display: block!important;
        margin-top: 30px;
        padding: 10px!important;
        margin-bottom: 10px;
        border-radius: 5px;
        z-index: 1;

        & + label
        {
            border-top: none;
        } 
        span.config-name
        {
            text-align: center;
            text-align: left;
            padding-left: 10px;
            font-weight: 300;
            font-family: system-ui;
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            text-wrap: pretty;
        } 

        input[type="range"][max^="999"], span.current-value, a.config-reset-icon
        {
            display: none!important;
        } 
    }
    
    
    @media (max-width: 600px)
    {   
        #message-box-contents div.config-body label
        {
            margin-bottom: 10px;
        }
        #message-box-contents div.config-body label > span.config-name 
        {
            line-height: 21px;
        }
        #message-box-contents div.config-body label.config-checkbox,
        #message-box-contents div.config-body label.config-select,
        #message-box-contents div.config-body label.config-range,
        #message-box-contents div.config-body label.config-text
        {
            display: grid;
            row-gap: 10px;
        }
        
        // CHECKBOX
        #message-box-contents div.config-body label.config-checkbox,
        {
            grid-template-columns: 80% auto auto;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            row-gap: 0px;
        }
        #message-box-contents div.config-body label.config-checkbox span.config-name,
        {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #message-box-contents div.config-body label.config-checkbox input.config-value,
        {
            display: flex;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #message-box-contents div.config-body label.config-checkbox a.config-reset-icon
        {
            display: flex;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            position: relative;
            top: 0px;
        }
        // SELECT
        #message-box-contents div.config-body label.config-select,
        #message-box-contents div.config-body label.config-text
        {
            grid-template-columns: auto 10px;
            grid-template-rows: 1fr 1fr;
            width: 100%;
        }
        #message-box-contents div.config-body label.config-select span.config-name,
        #message-box-contents div.config-body label.config-text span.config-name
        {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #message-box-contents div.config-body label.config-select div.config-value,
        #message-box-contents div.config-body label.config-text input.config-value
        {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #message-box-contents div.config-body label.config-select div.config-value > select,
        #message-box-contents div.config-body label.config-text input.config-value
        {
            min-width: 90%;
        }
        
        #message-box-contents div.config-body label.config-select div.config-value::after
        {
            position: relative;
            left: 4px;
        }
        #message-box-contents div.config-body label.config-select a.config-reset-icon,
        #message-box-contents div.config-body label.config-text a.config-reset-icon
        {
            display: flex;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            position: relative;
            top: 0px;
        }
        
        
        // RANGE
        #message-box-contents div.config-body label.config-range
        {
            grid-template-columns: auto auto 0px;
            grid-template-rows: 1fr 1fr;
            width: 100%;
        }

        
        #message-box-contents div.config-body label.config-range span.config-name
        {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #message-box-contents div.config-body label.config-range span.current-value
        {
            display: flex;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #message-box-contents div.config-body label.config-range a.config-reset-icon
        {
            display: flex;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            position: relative;
            top: 0px;
            left: -20px;
        }
        #message-box-contents div.config-body label.config-range input.config-value 
        {
            display: flex;
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
} 

@-moz-document url-prefix("https://wykop.pl"), url-prefix("http://wykopx.pl")
{    
    
    version = "2.45";   
    
    /* Wykop XS Settings  */
    body 
    {     
        --mouseClickOpensImageInNewTab:          mouseClickOpensImageInNewTab;   
        --disableNewLinkEditorPastedTextLimit:   disableNewLinkEditorPastedTextLimit; /* 0 / 1 */
        --homepagePinnedEntriesHideBelowLimit:   homepagePinnedEntriesHideBelowLimit;
        --tabTitleSelect:                        tabTitleSelect; 
        --tabFaviconSelect:                      tabFaviconSelect; 
        --tabTitleCustom:                        tabTitleCustom; 
    } 
    
    if(quickLinksEnable == 1)                               { body {  --quickLinksEnable: "true"!important; }}
    if(tabTitleEnabled == 1)                                { body {  --tabTitleEnabled: "true"!important; }}
    if(tabTitleRemoveWykopPL == 1)                          { body {  --tabTitleRemoveWykopPL: "true"!important; }}
    if(tabFaviconEnabled == 1)                              { body {  --tabFaviconEnabled: "true"!important; }}
    if(tabChangeOnlyOnHiddenState == 1)                     { body {  --tabChangeOnlyOnHiddenState: "true"!important; }}
    if(hitsInTopNavJS == 1)                                 { body {  --hitsInTopNavJS: "true"!important; }}
    if(votingExplosion == 1)                                { body {  --votingExplosion: "true"!important; }}
    if(myWykopInTopNavJS == 1)                              { body {  --myWykopInTopNavJS: "true"!important; }}
    if(tagHeaderEditable == 1)                              { body {  --tagHeaderEditable: "true"!important; }} 
    if(linksAnalyzerEnable == 1)                            { body {  --linksAnalyzerEnable: "true"!important; }}
    if(addNewLinkInTopNavJS == 1)                           { body {  --addNewLinkInTopNavJS: "true"!important; }}
    if(addNewEntryInTopNavJS == 1)                          { body {  --addNewEntryInTopNavJS: "true"!important; }}
    if(favoritesInTopNavJS == 1)                            { body {  --favoritesInTopNavJS: "true"!important; }}
    
    
    if(tabTitleShowNotificationsEnabled == 1)               { body {  --tabTitleShowNotificationsEnabled: "true"!important; }}
    if(tabTitleShowNotificationsCountSeparated == 1)        { body {  --tabTitleShowNotificationsCountSeparated: "true"!important; }}

    if(linksAnalyzerSortByVotesCount == 1)                  { body {  --linksAnalyzerSortByVotesCount: "true"!important; }}
    if(allowToDownloadImage == 1)                           { body {  --allowToDownloadImage: "true"!important; }} 
    if(autoOpenMoreContentEverywhere == 1)                  { body {  --autoOpenMoreContentEverywhere: "true"!important; }} 
    if(showObservedTagsAlphabetically == 1)                 { body {  --showObservedTagsAlphabetically: "true"!important; }} 
    if(fixCaseSensitiveTagsRedirection == 1)                { body {  --fixCaseSensitiveTagsRedirection: "true"!important; }} 
    if(categoryRedirectToMicroblogButton == 1)              { body {  --categoryRedirectToMicroblogButtonFilter: categoryRedirectToMicroblogButtonFilter!important; }} 
    if(refreshOrRedirectOnHomeButtonClick == 1)             { body {  --refreshOrRedirectOnHomeButtonClick: "true"!important; }} 
    if(tabTitleShowNotificationsCountTagsNewLink == 1)      { body {  --tabTitleShowNotificationsCountTagsNewLink: "true"!important; }} 
    if(tabTitleShowNotificationsCountTagsNewEntry == 1)     { body {  --tabTitleShowNotificationsCountTagsNewEntry: "true"!important; }} 
    if(tabTitleShowNotificationsCountPM == 1)               { body {  --tabTitleShowNotificationsCountPM: "true"!important; }} 
    if(tabTitleShowNotificationsCountEntries == 1)          { body {  --tabTitleShowNotificationsCountEntries: "true"!important; }} 
    if(middleClickOpensNotificationsInNewTab == 1)          { body {  --middleClickOpensNotificationsInNewTab: "true"!important; }} 
    if(refreshOrRedirectOnMicroblogButtonClick == 1)        { body {  --refreshOrRedirectOnMicroblogButtonClick: "true"!important; }} 
    if(enableNotatkowator == 1)                             { body {  --enableNotatkowator: "true"!important; 
                                                                      --notatkowatorUpdateInterval: notatkowatorUpdateInterval !important;
                                                                    } 
                                                            } 
    if(showObservedTagsInRightSidebar == 1)                 { body {  --showObservedTagsInRightSidebar: "true"!important; 
                                                                      --showObservedTagsInRightSidebarUpdateInterval: showObservedTagsInRightSidebarUpdateInterval !important; 
                                                                    } 
                                                            }
  

}


@-moz-document url-prefix("https://wykop.pl"), url-prefix("http://wykopx.pl")
{    
    // WYKOP XS
    
    //  QUICK LINKS NAV BAR
    if(quickLinksEnable == 1)
    {
        :root { 
            --quickLinksAFontSize: var(--textFontSize13, 13px);
            --quickLinksSpanFontSize: var(--textFontSize11, 11px);
            }
            
        header.header > div.left > #wxs_quick_links > nav
        {
            font-size: var(--quickLinksAFontSize, 13px);
        }
        header.header > div.left > #wxs_quick_links > nav > section > span
        {
            font-size: var(--quickLinksSpanFontSize, 11px);
        }
        
        header.header > div.left > #wxs_quick_links
        {
            display: flex;
            top: calc(var(--topNavHeigh, 48px) - 3px);
            position: absolute;
            left: -1px
            width: 120%;
            height: 1px;
            z-index: -100;
        }

        @keyframes quickLinksAnimationOn
        {
          0% { display: none; top: -20px; opacity: 0; }
          1% { display: flex; top: -20px; opacity: 0; }
          99% { display: flex; top: -20px; opacity: 0; }
          100% { display: flex; top: 0px; opacity: 1; }
        }
        @keyframes quickLinksAnimationOff
        {
          0% { display: flex; top: 0px; opacity: 1; }
          50% { display: flex; top: 0px; opacity: 0; }
          99% { display: flex; top: -20px; opacity: 0;}
          100% { display: none; top: -20px; opacity: 0;}
        }



        header.header > div.left > #wxs_quick_links > nav:not(:hover)
        {
            z-index: -1000!important;
            display: flex;

            animation-name: quickLinksAnimationOff!important;
            animation-duration: 0s;
            animation-delay: 0.4s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
        header.header > div.left > #wxs_quick_links > nav:hover
        {       
            z-index: 999!important;
            background-color: var(--whiteOpacity1, rgb(18, 18, 20));
            display: flex!important;

            animation-name: quickLinksAnimationOn!important;
            animation-duration: 0s!important;
            animation-delay: 0s!important;
            animation-direction: normal!important;
            animation-fill-mode: forwards!important;
        }

        header.header > div.left:has( > nav.main > ul > li:hover a[href="/"])                   > #wxs_quick_links > nav.home,
        header.header > div.left:has( > nav.main > ul > li a[href="/"]:hover)                   > #wxs_quick_links > nav.home,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/wykopalisko"])        > #wxs_quick_links > nav.upcoming,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/mikroblog"])          > #wxs_quick_links > nav.microblog,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/obserwowane"])        > #wxs_quick_links > nav.mywykop,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/hity"])               > #wxs_quick_links > nav.hits,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/ulubione"])           > #wxs_quick_links > nav.favorites,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/dodaj-link"])         > #wxs_quick_links > nav.add_new,
        header.header > div.left:has( > nav.main > ul > li:hover a[href="/mikroblog/#dodaj"])   > #wxs_quick_links > nav.add_new
        { 
            z-index: 999;
            display: flex!important;
            animation-name: quickLinksAnimationOn!important;
            animation-duration: 0.2s;
            animation-delay: 0s;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        
        header.header > div.left > #wxs_quick_links > nav
        {
            z-index: -999;
            color: var(--blackOpacity07, rgba(255, 255, 255, 0.7));
            background-color: var(--whiteOpacity1, rgba(18, 18, 20, 1));
            border-bottom: 1px solid var(--blackOpacity03, rgba(255, 255, 255, 0.3));
            box-shadow: 0px 4px 4px var(--whiteOpacity04, rgba(0, 0, 0, 0.4));

            column-gap: 0px;
            flex-wrap: nowrap;
            position: absolute;
            left: 0px;
            width: 100%;


            color: var(--blackOpacity07, rgba(255, 255, 255, 0.7));
            height: 37px;
        }

        header.header > div.left > #wxs_quick_links > nav > section
        {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            column-gap: 5px;
            padding-left: 20px;
            padding-right: 0px;

            border-left: 1px solid rgba(120, 120, 120, 0.2);
        }

        header.header > div.left > #wxs_quick_links > nav > section:hover
        {
            background-color: var(--blackOpacity005, rgba(255, 255, 255, 0.02));
        }
        header.header > div.left > #wxs_quick_links > nav > section:hover > span
        {
            color: var(--blackOpacity1, rgba(255, 255, 255, 1));
        }
        header.header > div.left > #wxs_quick_links > nav > section > div
        {
            display: flex;
            height: 100%;     

        }
        header.header > div.left > #wxs_quick_links > nav > section > div
        {
        }


        header.header > div.left > #wxs_quick_links > nav > section > span
        {
            width: max-content;
            padding-right: 10px;
            text-transform: uppercase;
            font-weight: bolder;
            cursor: default;
        }

        header.header > div.left > #wxs_quick_links > nav > section > div > a,
        header.header > div.left > #wxs_quick_links > nav > section > span
        {
            height: 100%;
            min-width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        header.header > div.left > #wxs_quick_links > nav > section > div > a
        {
            text-decoration: none;
            padding: 0px 14px 0px 14px;
        }

        header.header > div.left > #wxs_quick_links > nav > section > div > a:hover
        {
            color: var(--blackOpacity1, rgba(255, 255, 255, 1));
            background-color: var(--blackOpacity01, rgba(255, 255, 255, 0.2));
        }
    }
    /* QUICK LINKS - END */
    
   

    
    
    
    
    
    
    
    // IMAGE UPLOADER
    if(imageUploaderEnable == 1)
    {
    
        section.editor figure.wxs_uploaded_image_placeholder:has(canvas)
        {
            position: relative;
            margin: 20px 0px;
            border-radius: 4px!important;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
            justify-content: start;
            align-content: start;
            gap: 10px;
        }
        section.editor figure.wxs_uploaded_image_placeholder > canvas
        {
            max-width: 400px!important;
            border: 1px solid var(--whiteOpacity07)!important;
            border-radius: 4px!important;
            opacity: 0.7;
            filter: brightness(0.8) grayscale(0.7);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), -3px -3px 12px rgba(0, 0, 0, 0.3), 0px 0px 22px rgba(0, 0, 0, 0.3);
        }
        section.editor figure.wxs_uploaded_image_placeholder > canvas:hover
        {
            max-width: 400px!important;
            opacity: 1;
            filter: brightness(1.3) grayscale(0)!important;
            border: 1px solid var(--whiteOpacity07)!important;
        }

        // ten plik zostanie wysłany (ostatni na liscie)
        section.editor figure.wxs_uploaded_image_placeholder > canvas:nth-last-child(1 of canvas)
        {
            opacity: 1;
            filter: brightness(1.1) grayscale(0.3);
            border-color: rgba(21, 138, 255, .89)!important;
        }

        // lista wgranych plików wraz z nazwami
        section.editor > aside > ul > li.photo:before
        {
            top: unset!important;
            left: unset!important;
        }
        section.editor > aside > ul > li.photo
        {
            padding: 8px 0px 8px 10px; 
            border-radius: 4px;

            background-color: rgba(255, 0, 0, 0.1);
            opacity: 0.6;
        }
        section.editor > aside > ul > li:nth-last-child(1 of li.photo)
        {
            opacity: 1;
            background-color: rgba(21, 138, 255, .01);
    /*         border: 1px solid rgba(21, 138, 255, .89)!important; */
        }



        section.editor figure.wxs_uploaded_image_placeholder:has(canvas.wxs_uploaded_image_preview)::after
        {
            display: flex !important;
            font-size: 14px !important;
            color: rgba(254, 255, 255, 0.3);
            background-color: rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(0, 0, 0, 1) !important;
            position: absolute !important;
            left: 10px !important;
            bottom: 7px !important;
            padding: 4px 11px;
            border-radius: 3px;
        }
        figure.wxs_uploaded_image_placeholder:has(.wxs_uploaded_image_png)::after
        {
            content: "PNG";
        }
        figure.wxs_uploaded_image_placeholder:has(.wxs_uploaded_image_jpeg)::after, 
        figure.wxs_uploaded_image_placeholder:has(.wxs_uploaded_image_jpeg)::after
        {
            content: "JPEG";
        }
        figure.wxs_uploaded_image_placeholder:has(.wxs_uploaded_image_gif)::after
        {
            content: "GIF";
        }
        figure.wxs_uploaded_image_placeholder:has(.wxs_uploaded_image_webp)::after
        {
           content: "WEBP"; 
        }
    }
    /* IMAGE UPLOADER - END */
    
    
    
    
    
    
    
    /* WYKOP X PROMO WYKOP XS */
    
    /* hide wykopx-promo added by wykopxs */
    .wykopx_promo, .wykopx_promo_li, .wykopx_promo_button, .wykopx_promo_banner,    
    {
        display: none!important;   
    } 
    
    section.editor.expand section.inline-autocomplete,
    header.header div.right section.search-input section.inline-autocomplete
    {
        min-width: 390px!important;   
    } 
    section.editor.expand section.inline-autocomplete section.inline-autocomplete-stream div.content:after,
    header.header div.right section.search-input section.inline-autocomplete section.inline-autocomplete-stream div.content:after
    /* wykopxs_promo */
    /* lista tagów */
    {
        padding: 10px 16px!important;
        margin-top: 3px!important;
        font-size: 11px!important;
        position: relative!important;
        border-top: 1px solid rgba(0,0,0,0.7)!important;
        display: block;
        content: "Zainstaluj skrypt 𝗪𝘆𝗸𝗼𝗽 𝗫𝗦, aby zobaczyć liczbę obserwujących tagi";
    } 
    /* top linki po prawej */
    div.main-content section > section.sidebar:after
    { 
        content: "";
        width: 100%;
        display: block!important;
        height: 300px!important;
        background: url('https://raw.githubusercontent.com/wykopx/wykopx-png/main/promo-images/wykopxs-install-sidebar-day.png');
    } 
    [data-night-mode] div.main-content section > section.sidebar:after
    { 
        background: url('https://raw.githubusercontent.com/wykopx/wykopx-png/main/promo-images/wykopxs-install-sidebar-night.png');
    } 

    if(disableNewLinkEditorPastedTextLimit == 1)
    {
        .wykopxs_textinput_limit_info
        {
            color: var(--whiteOpacity08);
            font-size: 14rem!important;
            margin: 10px 0px 10px 0px!important;
        } 
        .wykopxs_textinput_limit_info span
        {

        } 
        .wykopxs_textinput_limit_info span.withinLimit strong /* liczba znaków np. 199/300 */
        {
            color: inherit!important;
        } 
        .wykopxs_textinput_limit_info span.over_limit strong /* liczba znaków np. 399/300 */
        {
            color: blue!important;
        } 
    } 
    
    
        
    
    
    
    // RATING BOX INTERSECTING
    
    // rating-box intersecting
    .notIntersecting
    {
        border-bottom: 1px solid gray;
    }

    .isIntersecting
    {    
        border-radius: 0px!important;

        border-left-width: 1px;
        border-left-style: dotted;
        padding-left: 6px;
        
        animation-name: isIntersectingAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    
    .isIntersecting::before,
    .isIntersecting::after
    {
        padding: 0px 3px;
        font-size: 13rem;
        animation-duration: 5s, 3s;
        animation-fill-mode: forwards;
        
        position: absolute;
        right: -14px;
        top: 0px;
    }

    .addedPluses > article > header > div.right > div > section.rating-box:after
    {
        animation-name: fadeOutAnimation, slideUpAnimation;
        color: #10af27;
        content: var(--addedPluses);
    }
    .removedPluses > article > header > div.right > div > section.rating-box:after
    {
        animation-name: fadeOutAnimation, slideDownAnimation;
        color: #d10909;
        content: var(--removedPluses);
    }
    .addedMinuses > article > header > div.right > div > section.rating-box:after
    {
        color: #a10707;
        content: var(--addedMinuses);
    }
    .removedMinuses > article > header > div.right > div > section.rating-box:after
    {
        color: #fff;
        content: var(--removedMinuses);
    }
    
    @keyframes isIntersectingAnimation
    {
        0%      { border-left-color: transparent; }
        70%     { border-left-color: green; }
        100%    { border-left-color: transparent; }
    }
    @keyframes fadeOutAnimation
    {
        0%      { scale: 1.0; opacity: 0.8; }
        10%     { scale: 1.3; opacity: 1;   }
        70%     { scale: 1;   opacity: 1;   }
        90%     { scale: 0.8; opacity: 0.6; }
        100%    { scale: 0.8; opacity: 0;   }
    } 
    @keyframes slideUpAnimation
    {
        0%      { translate: 0px 10px; }
        20%     { translate: 0px 0px; }
        70%     { translate: 0px 0px; }
        100%    { translate: 0px -10px; }
    } 
    @keyframes slideDownAnimation
    {
        0%      { translate: 0px -10px; }
        20%     { translate: 0px 0px; }
        70%     { translate: 0px 0px; }
        100%    { translate: 0px 10px; }
    } 
        
        
        
    // VOTINGEXPLOSION : animacja plusowania Wykop XS
    section.rating-box
    {
        position: relative;
        --explosionDelay: 0s;
        --explosionDuration: 900ms;
        --explosionTiming: linear;
    }
    
    section.rating-box > div.buttons > button.minus
    {
        margin-left: 14px;
    }
    
    .wykopxs_vote_animation
    {
        opacity: 0;
        cursor: crosshair;
        font-size: 12rem;
        font-weight: bolder;
        position: absolute;
        top: -10px;
        animation-name: explodePluses;
        animation-delay: var(--explosionDelay);
        animation-duration: var(--explosionDuration);
        animation-timing-function: var(--explosionTiming);
    } 
    
    if(votingExplosionAnimation == "animacja2")
    {
        .wykopxs_vote_animation 
        {
            animation-name: explodePluses, explodePlusesAnimacja2;
        } 
    } 
    else if(votingExplosionAnimation == "animacja3")
    {
        .wykopxs_vote_animation 
        {
            animation-name: explodePluses, explodePlusesAnimacja3;
        } 
    } 
    
    /* plusy */
    .wykopxs_vote_animation.wykopxs_green
    {
        color: var(--green)!important;
    /*  text-shadow: 0px 0px 2px var(--green); */
    } 
  
    .wykopxs_vote_animation.wykopxs_golden
    {
        font-size: 35rem;
        color: var(--golden)!important;
        text-shadow: 0px 0px 5px var(--golden);
    } 

    /* minusy */
    .wykopxs_vote_animation.wykopxs_red
    {
        color: var(--red)!important;
    } 
    
    
    @keyframes explodePluses
    {
        0%      { transform: translate3d(0, 0, 0); opacity: 0; } 
        12%     { opacity: 0.2; } 
        13%     { opacity: 1; } 
        70%     { opacity: 1; } 
        90%     { opacity: 0.4; } 
        100%    { transform: translate3d(var(--position_x), var(--position_y), var(--position_z)); opacity: 0; } 
    } 
    @eyframes explodePlusesAnimacja2
    {
        0%      { scale: 60%;   } 
        12%     { scale: 60%;   } 
        13%     { scale: 60%;   } 
        70%     { scale: 60%;   } 
        90%     { scale: 120%;  } 
        100%    { scale: 400%;  } 
    } 
    
    @keyframes explodePlusesAnimacja3
    {
        0%      { scale: 60%;   } 
        12%     { scale: 60%;   } 
        13%     { scale: 60%;   } 
        70%     { scale: 60%;   } 
        90%     { scale: 120%;  } 
        100%    { scale: 400%;  } 
    } 
    

        
    
    
    /* WYKOP XS - PROMO AND UPDATE */
    .wykopx_hide_this_if_stylus_is_installed
    { 
        display: none!important;   
    } 
    .wykopx_modal_mirkoukrywacz_is_turned_off
    {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    // MIRKOUKRYWACZ 

    if(mirkoukrywacz == 0)
    {
       #wykopx_modal_mirkoukrywacz .wykopx_modal-content header,
       section.wykopx_mirkoukrywacz_list_of_hidden_items
       {
           display: none!important;
       } 
    } 
    
    if(mirkoukrywacz == 1)
    {
        .wykopx_hide_this_if_mirkoukrywanie_is_turned_on
        { 
            display: none!important;   
        } 



        section.actions ul li.right 
        {
            display: flex!important;
        } 
        button.wykopxs.hideThisShit  
        {
            justify-content: right;
            display: inline-flex!important;
            color: var(--blackOpacity1);
            opacity:0.3;

            cursor: pointer;
    
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 14px;
            font-weight: 400;
    
            justify-content: center;
            padding: 0px 20px;
            margin-right: 120px;
        } 
   
        button.wykopxs.hideThisShit:before
        {
            content: "";
            position: relative;
            display: inline-block;
            width: 20px;
            top: -1px;
            right: 7px;
            height: 20px;
            background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAFqSURBVHja5NS9Sx1REAXw31PTaWE+QLAQLNJYhtRCCIQYC8EiCoaIYJnCSiuFQNKIhPhHGIgBRTTwwEZFiYWBBKKIYCdoZaePJ7ppRrgurha+ztPs7j1zz9yZM3dLWZapJerUGDUXvCtG8C1daCgILOE5XsazBRkOsY4pDGMSE7dlfYvNEMjwG1/wNdb78D64xZuEWjCXCB2jO7iHaI73wSSmigW05sXa8S8JPEdXtORHiHfiHSrRt0oSv4unkux/EzLDSnDz8f0G/clmKOf27OAJzOSIDOORqBpl9ybcBdowes2+2boCpxtiRl+hKcpOUSmY4QfwGNu5TGsRMHDNKX4WlLwXxhIN3U2cex1uVmNsTnCKJTSGQWeJ2D468sdtDRN6YhYzzAb36LLheIGjRKwcPS3EYK6UX/iMT3FLLtf/YChu1ZUrluIDpjGG1TDlWZy+HgfYwjI2ouwb8R0f7/K3KN2/H+z/AQAb4nry9SB1ewAAAABJRU5ErkJggg==');
        } 
        [data-night-mode] button.wykopxs.hideThisShit:before
        {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGGSURBVHja5JS/S5VRGMc/r942G9SEC3cQHFwco1kQIUwHwSEDpRAaG5xy0smWiKg/QiEFRSwQWiqMHBQK/BFBm1CTm8qV+rg8F4/n3ruIQ9ADL+ec58f3vM/5fs8pVK7TWrhm++cAp4HF1FFqklgAd4DBGMuAwC9gE3gBPAaeA3OXKtX8u69ueWE76kv1VfjH1YcRW8/r00VZXUmAjtSRiHWo7TF/lORU1TW1kgP2qLtJ4h/1nlpSlwO8X51UT9XFGGv2Xe2tAXao37xsH2Kj1VgPqw+SYtSNrGZf7UJdsN5mY6NqtD2WxP6q3erTBnVLLU2YLoWk7gI3geUsftpEcjdQb6l72U6foq2JBn/xrknLP9RyjZTeOJsac0PBZjVkc6yeqG/VtiDoLAH7qfblsqkECaOhRdWliHWqXTEfUH8nYBtxpnU6pIHOVL+oz9R5dTPxf1Wn1CKtL7Ln6wnwGpgBPgYpt4EK0AocAtvAe+AzcFZ3ZzPAN8ABMHvV16L4/x7Y8wEAafObxZ/Y7vUAAAAASUVORK5CYII=')
        } 
        button.wykopxs.hideThisShit:hover  
        {
            opacity:1;
        } 
    } 
    
    
    if(mirkoukrywacz == 1 && dev == 0)
    {
            section.wykopx_mirkoukrywacz_hide { display: none!important; } 
    } 
    else if(mirkoukrywacz == 1 && dev == 1)
    {
            section.wykopx_mirkoukrywacz_hide { border: 13px solid green!important; } 
    } 

    

    //  WYKOPXS MODAL
    .wykopx_modal
    {
        display: none;
        z-index: 2023;
        width: 100%;
        position: fixed;
        height: 100%;
        overflow: auto;
        top:0px; left: 0px;

        background: var(--whiteOpacity02) url("https://i.imgur.com/9MFCsXL.png") right bottom/contain no-repeat;
        background-size: 30%;

        backdrop-filter: blur(6px);
        cursor: default;
    } 

    .wykopx_modal-content
    {
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);

        display: flex;
        flex-direction: column;
        background-color: var(--whiteOpacity09);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid var(--blackOpacity02);
        min-height: 300px;
        position: absolute;
        border-radius: 4px;


        overflow: auto;
        z-index: 2023;
        color: var(--blackOpacity08)!important;
        box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.2);
    } 
    

    
    
    .wykopx_modal .wykopx_modal-content header
    {
        display: block;
        font-size: 16px;
        padding: 10px 0px;
        color: var(--blackOpacity1);
        border-bottom: 1px solid var(--blackOpacity04);
        margin-bottom: 13px;
    } 
    .wykopx_modal .wykopx_modal-content header span:first-child
    {
        display: none;
    } 
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items
    {
        display: flex;
        flex-direction: column;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element
    {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 4px 0px;
        justify-content: flex-start;
        padding-right: 10px;
        row-gap: 5px;
        column-gap: 6px;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element:nth-child(2n)
    {
        background-color: var(--blackOpacity01);
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element:hover
    {
        background-color: var(--blackOpacity03);
    } 
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_hidden_list_is_empty
    {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        height: calc(100% - 100px);
        width: calc(100% - 40px);
        position: fixed;
    } 
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_hidden_list_is_empty:has(+ div)
    {
        display: none;
    } 
    
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element > div
    {
        text-align: left;
        overflow: hidden;
        padding: 10px 0;
        white-space: nowrap;
        overflow: hidden;

        align-items: center;
        display: flex;

    } 
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_unhide
    {
        width: 40px;
        cursor: pointer;
        justify-content: center;
        filter: grayscale(1);

        border: 1px solid rgba(255, 120, 120, 0.3);
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_unhide:hover
    {
        filter: grayscale(0);

    } 
    
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element:has(.wykopx_mirkoukrywacz_unhide:hover)
    {
        background-color: rgba(255, 120, 120, 0.3);

    } 
   
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_lp
    {
        width: 38px;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_text
    {
        width: 100%!important;
        max-width: 100%!important;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_id
    {
        width: 80px
        margin-left: auto;
        font-size: 0.7em;
        text-align: right;
        color: var(--blackOpacity04);
        display: none;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_type
    {
        width: 130px
        font-size: 0.7em;
        color: var(--blackOpacity04);
        display: none;
    } 
    .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_date
    {
        width: 141px
        text-align: right;
        font-size: 0.8em;
        color: var(--blackOpacity04);
        display: none;
    } 
    .wykopx_close
    {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
    } 

    .wykopx_close:hover,
    .wykopx_close:focus
    {
       color: black;
       text-decoration: none;
       cursor: pointer;
    } 
    
    
    @media (min-width: 640px)
    {
        .wykopx_modal-content
        {
            width: 50%;
            height: 60%;
            top: 20%;
            transform: translate(-50%, -50%);
        } 
        .wykopx_modal .wykopx_modal-content header span:first-child,
        .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_id,
        .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_type,
        .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_date
        {
            display: inline-block;
        } 
        .wykopx_modal .wykopx_modal-content .wykopx_mirkoukrywacz_list_of_hidden_items .wykopx_mirkoukrywacz_element .wykopx_mirkoukrywacz_text
        {
            max-width: calc(100% - 300px);
        }
    }
}